<article id="<%= post.layout %>-<%= post.slug %>" class="site-center animals-1">
  <img src="http://repanszky.hu/wp-content/uploads/2012/12/fooldal2.jpg" class="attachment-full" />

  <div class="post-content">
    <%- post.content %>
  </div>
  <div class="animals"></div>
</article>