<header>
  <section class="site-center">
    <h1>
        Dr. Répánszky Ádám <br />
        <em>állatorvos<br />
        +36 30 852 1592</em>
    </h1>

    <h2>
      Kisállatok szakszerű gyógyítása és szaktanácsadás akár az otthonában is!
    </h2>

    <a class="logo" href="/"></a>
  </section>
</header>